<div class="cell columns small-12 large-4">
  <div class="card plant-card">
    <div class="card-section">
      <div class="card-divider">
        <h4>{{plant_type.plant_name}}</h4>
      </div>
      <p>{{plant_type.description}}</p>
      <p><span class="property-title">Life cycle:</span> {{plant_type.life_cycle}}</p>
      <p><span class="property-title">Habit:</span> {{plant_type.habit}}</p>
      <p><span class="property-title">Hardiness zone:</span> {{plant_type.hardiness_zone_lower}}-{{plant_type.hardiness_zone_upper}}</p>
      <p><span class="property-title">Sun Exposure:</span> {{plant_type.sunExposureRange}}</p>
      <p><span class="property-title">Season of Interest:</span> {{plant_type.seasonOfInterestRange}}</p>
      <button class='button remove-plant-btn' data-plant-id="{{plant_type.id}}">Remove from collection</button>
    </div>
  </div>
</div>