<div class="cell columns small-12 medium-6 large-4">
  <div class="card plant-card">
    <div class="card-section">
      <div class="card-divider">
        <h4>{{plant_type.plant_name}}</h4>
      </div>
      <p>{{plant_type.description}}</p>
      <p>Life cycle: {{plant_type.life_cycle}}</p>
      <p>Habit: {{plant_type.habit}}</p>
      <p>Hardiness zone: {{plant_type.hardiness_zone_lower}}-{{plant_type.hardiness_zone_upper}}</p>
    </div>
  </div>
</div>