<div class="cell">
  <form id="edit-response" data-id="{{response.id}}" data-topic-id="{{topic.id}}">
    <div class="grid-container">
      <div class="grid-x grid-padding-x">
        <div class="cell">
          <label>Subject
            <input type="text" id="response-subject" value="{{response.subject}}">
          </label>
        </div>
        <div class="cell">
          <label>Content
            <textarea id="response-content" name="response-content" form="edit-response">{{response.content}}</textarea>
          </label>
          <div class="cell">
            <button type="submit" class="button" data-id="{{response.id}}" data-topic-id="{{topic.id}}">submit</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<script src='../../../js/edit_response.js'></script>