{{#each topics.topic_data}}
<div class='cell'>
  <div class='topic-description'>
    <a href='/topic/{{this.id}}'>
      <div class="grid-x">
        <div class='cell small-6 topic-subject'>{{this.subject}}</div>
        <div class='cell small-6 topic-metadata'>Posted by
          {{this.user.name}}
          on
          {{format_date this.createdAt}}</div>
        <p>{{this.content}}</p>
      </div>
    </a>
  </div>
</div>
{{/each}}