<div class='cell'>
  <div class='response-description'>
    <div class="grid-x">
      <div class='cell small-6 response-subject'>{{response.subject}}</div>
      <div class='cell small-6 response-metadata'>Posted by
        {{response.user.name}}
        on
        {{format_date response.createdAt}}</div>
      <p>{{response.content}}</p>
    </div>
  </div>
</div>

{{#if logged_in}}
<div class="cell">
  <div class="button-box">
    <button id="response-edit" class="button-edit button" 
      data-id="{{response.id}}" 
      data-topic-id="{{response.topic.id}}">edit</button>
    <button id="response-delete" class="button-delete button" 
      data-id="{{response.id}}" 
      data-topic-id="{{response.topic.id}}">delete</button>
  </div>
</div>
{{/if}}

<script src='../js/show_response.js'></script>